@font-face {
  src: url("../fonts/Helvetica Neu Bold.ttf") format("ttf");
  font-family: "Helvetica";
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: arial;
}

ul {
  list-style-type: none;
}

.container {
  width: 1075px;
  margin: auto;
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
}

/* */
.header {
  height: 70px;
  width: 100%;
  position: relative;
  top: -965px;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 0.2px 0px 0px black;
  box-shadow: 0px 0.2px 0px 0px black;
}

.header .header-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr 1fr;
      grid-template-columns: 1fr 6fr 1fr;
}

.header .header-items .header-logo {
  font-size: 1.875rem;
  font-weight: 700;
  margin-left: 35px;
  margin-top: 20px;
}

.header .header-items .header-logo .header-text {
  color: #343434;
}

.header .header-items .menu-items {
  width: 570px;
  height: 70px;
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-items .menu-items .menu-item {
  margin-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #343434;
}

.header .header-items .social {
  width: 210px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-items .social .fa {
  color: #343434;
  margin-top: 25px;
}

/* */
.welcome {
  margin-top: -700px;
  height: 500px;
}

.welcome .welcome-title {
  font-size: 4.125rem;
  font-weight: 700;
  line-height: 1.05;
  color: #343434;
  margin-bottom: 2rem;
}

.welcome .welcome-sesc {
  line-height: 1.9;
  font-size: 1.125rem;
  margin-bottom: 3rem;
  width: 420px;
  color: #767676;
}

.welcome .welcome-button-flame {
  width: 170px;
  height: 55px;
  background-color: #23a592;
  border: 0.2em solid #23a592;
  border-radius: 30px;
  text-align: center;
}

.welcome .welcome-button-flame .button-a {
  font-size: .975em;
  color: #fff;
  position: relative;
  top: 17px;
}

.welcome .welcome-button-flame:hover {
  width: 170px;
  height: 55px;
  background-color: none;
  border: 0.2em solid #23a592;
  border-radius: 30px;
  text-align: center;
}

.welcome .welcome-button-flame:hover .button-a {
  font-size: .975em;
  color: #fff;
  position: relative;
  top: 17px;
}

/* */
.expiriance {
  height: 490px;
}

.expiriance .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
}

.expiriance .container .expiriance-left {
  width: 50%;
  height: 450px;
  margin-top: 130px;
}

.expiriance .container .expiriance-left .left-title {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.2;
  color: #343434;
  margin: 2rem 0;
}

.expiriance .container .expiriance-left .left-desc {
  font-size: 1rem;
  line-height: 1.625em;
  color: #767676;
  width: 428px;
}

.expiriance .container .expiriance-left .left-image {
  background-image: url(img/seven.png);
  width: 200px;
  height: 130px;
  margin-top: 50px;
}

.expiriance .container .expiriance-right {
  height: 450px;
  margin-top: 130px;
  width: 50%;
}

.expiriance .container .expiriance-right .progress-bars {
  width: 450px;
  height: 50px;
  margin: 30px;
  margin-top: 60px;
}

.expiriance .container .expiriance-right .progress-bars .progress-bar-title {
  line-height: 1.2;
  color: #343434;
  font-size: .9rem;
  font-weight: 700;
}

.expiriance .container .expiriance-right .progress-bars .progress-bar {
  width: 440px;
  height: 9px;
  border-radius: .25rem;
  background-color: #f2f2f2;
  margin-top: 15px;
}

.expiriance .container .expiriance-right .progress-bars .progress-bar-size {
  background-color: #23a592;
  height: 9px;
  width: 220px;
  border-radius: .25rem;
}

/* */
.abilities {
  height: 430px;
  background-color: #1d1d1d;
}

.abilities .abilities-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}

.abilities .abilities-items .abilities-item {
  margin-top: 140px;
  width: 350px;
  height: 210px;
}

.abilities .abilities-items .abilities-item .abilities-title {
  font-weight: 700;
  font-size: .9rem;
  color: white;
  margin-top: 30px;
}

.abilities .abilities-items .abilities-item .abilities-desc {
  font-size: 15px;
  color: #767676;
  margin-top: 20px;
  width: 300px;
}

/* */
.cv {
  height: 810px;
}

.cv .chart-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr;
      grid-template-columns: 6fr 1fr;
  margin-top: 150px;
}

.cv .chart-top .cv-title {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.2;
  color: #343434;
}

.cv .chart-top .cv-download {
  color: #767676;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 700;
}

.cv .cv-charts {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 160px 160px 160px 160px;
      grid-template-rows: 160px 160px 160px 160px;
}

.cv .cv-charts .cv-chart {
  margin-top: 130px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  height: 140px;
}

.cv .cv-charts .cv-chart .chart-title {
  color: #767676;
  font-size: 0.9rem;
  font-weight: 700;
}

.cv .cv-charts .cv-chart .chart-title span {
  color: #23a592;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
}

.cv .cv-charts .cv-chart .chart-status {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #343434;
}

.cv .cv-charts .cv-chart .chart-desc {
  width: 335px;
  color: #767676;
  line-height: 1.625em;
  font-size: 1rem;
  font-weight: 400;
}

.cv .cv-charts .cv-chart .chart-title, .cv .cv-charts .cv-chart .chart-status, .cv .cv-charts .cv-chart .chart-desc {
  margin-top: 35px;
}

/* */
.slider {
  height: 820px;
  -webkit-box-shadow: 0px 0.2px 0px 0px black;
  box-shadow: 0px 0.2px 0px 0px black;
}

.slider .slider-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr;
      grid-template-columns: 6fr 1fr;
  margin-top: 150px;
}

.slider .slider-title {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.2;
  color: #343434;
}

.slider .slider-projects {
  color: #767676;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 700;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 90px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}

/* */
.users {
  height: 610px;
}

.users .users-reviews {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.users .users-reviews .user-reviews {
  width: 500px;
  height: 300px;
  margin-top: 200px;
}

.users .users-reviews .user-reviews .user-review {
  font-size: 1rem;
  line-height: 1.625em;
  color: #767676;
  margin-top: -130px;
  font-weight: 400;
}

.users .users-reviews .user-reviews .user-nick {
  color: #212529;
  font-size: 1rem;
  line-height: 1.625em;
  margin-top: 30px;
}

.users .users-reviews .user-reviews span {
  font-size: 13rem;
  color: #e7e7e7;
  position: relative;
  right: 35px;
  top: -30px;
}

.news {
  height: 800px;
  background-color: #f5f5f5;
}

.news .news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .news-header .news-title {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.2;
  color: #343434;
}

.news .news-header .all-news {
  color: #767676;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 700;
}

.news .news-header .news-title, .news .news-header .all-news {
  margin-top: 120px;
}

.news .news-items {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.news .news-items .news-item {
  width: 350px;
  height: 435px;
  background-color: white;
  margin-left: 10px;
}

.news .news-items .news-item .news-image {
  background-image: url(img/640x520-1.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
}

.news .news-items .news-item .news-image:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news .news-items .news-item .news-date {
  background-color: #23a592;
  color: #fff;
  font-size: 0.9rem;
  position: relative;
  top: -24px;
  margin-left: 30px;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding: .5em;
}

.news .news-items .news-item .news-title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #343434;
  margin: 15px;
}

.news .news-items .news-item .news-title:hover {
  color: #23a592;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news .news-items .news-item .news-desc {
  font-size: 1rem;
  line-height: 1.625em;
  color: #767676;
  margin: 15px;
}

.partners {
  height: 350px;
}

.partners .partner-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners .partner-imgs .partner-img {
  width: 150px;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 100px;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.partners .partner-imgs .partner-img:hover {
  opacity: 100;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer {
  height: 237px;
  background-color: #1d1d1d;
}

.footer .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-items .footer-item {
  color: white;
  margin-top: 110px;
  font-size: 1rem;
}

.footer .footer-items .footer-item .fa {
  margin-top: 30px;
  margin-left: 7px;
}

.footer .footer-items .footer-item input {
  height: 60px;
  border-radius: 35px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groov;
}

.footer .footer-items .footer-item .no-outline:focus {
  outline: none;
}

.footer .footer-items .footer-item .subscibe-submit {
  width: 130px;
  margin-left: -50px;
  color: white;
  background-color: #23a592;
}

.footer .footer-items .footer-item .subscibe-input {
  margin-left: -60px;
  width: 160px;
  position: relative;
}

.footer .footer-items .footer-item input[type="email"]::-webkit-input-placeholder {
  padding-left: 20px;
}

.footer .footer-items .footer-item input[type="email"]:-ms-input-placeholder {
  padding-left: 20px;
}

.footer .footer-items .footer-item input[type="email"]::-ms-input-placeholder {
  padding-left: 20px;
}

.footer .footer-items .footer-item input[type="email"]::placeholder {
  padding-left: 20px;
}

.footer .footer-items .footer-item span {
  font-weight: 700;
  position: relative;
  top: -30px;
}

.footer .copyright {
  height: 120px;
  background-color: #101117;
  margin-top: 45px;
  font-size: 0.8rem;
  color: #5a5a5a;
}

.footer .copyright .txt {
  padding: 50px;
}

@media only screen and (max-width: 1422px) {
  .expiriance {
    height: 800px;
  }
  .expiriance .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .expiriance .container .expiriance-left {
    margin-top: -10px;
  }
  .expiriance .container .expiriance-right {
    margin-top: -130px;
  }
  .abilities {
    height: 1100px;
  }
  .abilities .container .abilities-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-left: 50px;
  }
  .cv .container .chart-top {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .cv .container .cv-charts .cv-chart .chart-status, .cv .container .cv-charts .cv-chart .chart-desc {
    margin-left: -250px;
  }
  .cv .container .cv-charts .cv-chart .chart-desc {
    margin-left: -450px;
  }
  .slider {
    display: none;
  }
}

@media only screen and (max-width: 1360px) {
  .users {
    height: 1000px;
  }
  .users .container .users-reviews {
    margin-left: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1300px) {
  .news {
    height: 1650px;
  }
  .news .container .news-header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .news .container .news-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .partners {
    height: 1000px;
  }
  .partners .container .partner-imgs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-left: 50px;
  }
  .footer {
    height: 750px;
  }
  .footer .container .footer-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-left: 70px;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 500px;
  }
}
/*# sourceMappingURL=style.css.map */